<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UC Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UNITS Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnitsChanges.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>汇率计算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68A4CB8E19F9F41000BE1443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68A4CBA719F9F41000BE1443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68A723A619FB8EC7000BE4B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68A723C019FB91F6000BE4B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C148501A0DEE2A00A864F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
